<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarTopicDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Topic
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarTopicDropdown">
            <a class="dropdown-item" href="topic/all">All topics</a>
            <a class="dropdown-item" href="topic/add">Add topic</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
<div
  class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark"
  style="width: 280px; height: 100vh; position: fixed"
>
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
    style="gap: 8px"
  >
    <mat-icon>workspaces</mat-icon>
    <span class="fs-4">Project management</span>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a
        href="#"
        class="d-flex nav-link btn-toggle align-items-center text-white"
        [class.active]="isActive('home')"
        style="gap: 5px"
        data-bs-toggle="collapse"
        aria-current="page"
        data-bs-target="#home-collapse"
        aria-expanded="true"
      >
        <mat-icon
          aria-hidden="false"
          fontSet="material-icons-outlined"
          aria-label="Home"
          >home_outline</mat-icon
        >
        Home
      </a>
      <div class="collapse" id="home-collapse">
        <ul
          class="btn-toggle-nav list-unstyled fw-normal pb-1 small"
          style="padding-left: 45px; margin-top: 5px"
        >
          <li>
            <a
              [routerLink]="['/home']"
              class="link-dark text-120-percent rounded text-white text-decoration-none"
              >Go home</a
            >
          </li>
          <hr class="menu--hr" />
          <li>
            <a
              href="#"
              class="link-dark text-120-percent rounded text-white text-decoration-none"
              >Upcoming meetings</a
            >
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a
        href="#"
        class="d-flex nav-link btn-toggle align-items-center text-white"
        [class.active]="isActive('topic')"
        style="gap: 5px"
        data-bs-toggle="collapse"
        aria-current="page"
        data-bs-target="#topic-collapse"
        aria-expanded="true"
      >
        <mat-icon
          aria-hidden="false"
          fontSet="material-icons-outlined"
          aria-label="Topic"
          >topic</mat-icon
        >
        Topics
      </a>
      <div class="collapse" id="topic-collapse">
        <ul
          class="btn-toggle-nav list-unstyled fw-normal pb-1 small"
          style="padding-left: 45px; margin-top: 5px"
        >
          <li>
            <a
              [routerLink]="['/topic/add']"
              class="link-dark text-120-percent rounded text-white text-decoration-none"
              >Create</a
            >
          </li>
          <hr class="menu--hr" />
          <li>
            <a
              [routerLink]="['/topic/all']"
              class="link-dark text-120-percent rounded text-white text-decoration-none"
              >Show all</a
            >
          </li>
        </ul>
      </div>
    </li>
  </ul>
  <hr />
  <div class="dropdown">
    <a
      href="#"
      class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
      id="dropdownUser1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img
        src="https://github.com/mdo.png"
        alt=""
        width="32"
        height="32"
        class="rounded-circle me-2"
      />
      <strong>mdo</strong>
    </a>
    <ul
      class="dropdown-menu dropdown-menu-dark text-small shadow"
      aria-labelledby="dropdownUser1"
    >
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li><hr class="dropdown-divider" /></li>
      <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul>
  </div>
</div>
